# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sonarlint/
/sonarlint/issuestore/9/0/908f06450a4501c3eb9f3b1631a6d876a97c3371

